/* stylelint-disable */
@font-face {
    font-family: "Gilam";
    font-weight: 400;
    font-style: normal;
    src:
        url("../fonts/GilamRegular.woff2") format("woff2"),
        url("../fonts/GilamRegular.woff") format("woff");
    font-display: swap;
}

@font-face {
    font-family: "Gilam";
    font-weight: 300;
    font-style: normal;
    src:
        url("../fonts/GilamLight.woff2") format("woff2"),
        url("../fonts/GilamLight.woff") format("woff");
    font-display: swap;
}

@font-face {
    font-family: "Gilam";
    font-weight: 600;
    font-style: normal;
    src:
        url("../fonts/GilamSemiBold.woff2") format("woff2"),
        url("../fonts/GilamSemiBold.woff") format("woff");
    font-display: swap;
}

@font-face {
    font-family: "Gilam";
    font-weight: 700;
    font-style: normal;
    src:
        url("../fonts/GilamBold.woff2") format("woff2"),
        url("../fonts/GilamBold.woff") format("woff");
    font-display: swap;
}

@font-face {
    font-family: "Circe";
    font-weight: 300;
    font-style: normal;
    src:
        url("../fonts/CRCLight.woff2") format("woff2"),
        url("../fonts/CRCLight.woff") format("woff");
    font-display: swap;
}

@font-face {
    font-family: "Circe";
    font-weight: 400;
    font-style: normal;
    src:
        url("../fonts/CRCRegular.woff2") format("woff2"),
        url("../fonts/CRCRegular.woff") format("woff");
    font-display: swap;
}

@font-face {
    font-family: "Circe";
    font-weight: 700;
    font-style: normal;
    src:
        url("../fonts/CRCBold.woff2") format("woff2"),
        url("../fonts/CRCBold.woff") format("woff");
    font-display: swap;
}

/* stylelint-enable */