// font-family: 'Gilam', sans-serif;
// font-family: 'Circe', sans-serif;

// screen size

$xsm: 361px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1366px;

// container size

$container: 1490;
$max-container: 1800;

// fansybox error

@function max($numbers...) {
    @return m#{a}x(#{$numbers});
}

@function min($numbers...) {
    @return m#{i}n(#{$numbers});
}