<header class="header">
    <div class="container">
        <div class="header__inner">
            <button class="burger" type="button" aria-label="Открыть меню">
                <span></span>
            </button>
            <a class="header-logo header__logo" href="#">
                <img src="images/logo.png" alt="#" />
            </a>
            <nav class="menu" aria-hidden="true">
                <button class="menu__close" type="button" aria-label="закрыть меню"></button>
                <ul class="menu__list">
                    <li class="menu__item">
                        <a class="menu__link menu__link--bold link" href="#"> Главная </a>
                    </li>
                    <li class="menu__item">
                        <a class="menu__link menu__link--bold link" href="#"> Компания </a>
                    </li>
                    <li class="menu__item">
                        <a class="menu__link link" href="#"> Вакансии </a>
                    </li>
                    <li class="menu__item">
                        <a class="menu__link menu__link--bold link" href="#"> Услуги </a>
                    </li>
                    <li class="menu__item">
                        <a class="menu__link link" href="#"> Сети водоснабжения </a>
                    </li>
                    <li class="menu__item">
                        <a class="menu__link link" href="#"> Водоотведение и канализация </a>
                    </li>
                    <li class="menu__item">
                        <a class="menu__link link" href="#"> Наружные тепловые сети </a>
                    </li>
                    <li class="menu__item">
                        <a class="menu__link link" href="#"> Монтаж Ж/Б конструкции </a>
                    </li>
                    <li class="menu__item">
                        <a class="menu__link link" href="#"> Благоустройство территорий </a>
                    </li>
                    <li class="menu__item">
                        <a class="menu__link menu__link--bold link" href="#"> Проэкты </a>
                    </li>
                    <li class="menu__item">
                        <a class="menu__link menu__link--bold link" href="#"> Контакты </a>
                    </li>
                </ul>
            </nav>

            <div class="header__contact">
                <a class="header__phone link" href="tel:+78124016495">
                    <span class="header__phone--gold">+7 (812)</span> 401-64-95
                </a>
                <a class="header__button button popup-link" href="#callback">
                    <span class="button__phone">
                        <svg>
                            <use xlink:href="images/sprite.svg#phone"></use>
                        </svg>
                    </span>
                    <span class="header__button-text">Обратный звонок</span>
                </a>
            </div>
        </div>
    </div>
</header>
