.full-page {
    overflow: hidden;
}

.full-page .animation-left,
.full-page .animation-right,
.full-page .animation-down {
    opacity: 0;
    transform: translateX(-100px);
    transition: opacity 3s cubic-bezier(0.215, 0.61, 0.355, 1), transform 1.5s;
}

.full-page .animation-right {
    transform: translateX(100px);
}

.animation.active.animation-left,
.animation.active.animation-right,
.animation.active.animation-down {
    opacity: 1;
    transform: translateX(0);
    // animation-name: fade-left;
    // animation-duration: 1.5s;
    // animation-delay: 700;
    // animation-fill-mode: forwards;
    // animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.animation.active.animation-right {
    // animation-name: fade-right;
    transform: translateX(0);
}

// @keyframes fade-left {
//     from {
//         transform: translateX(-100px);
//     }

//     to {
//         transform: translateX(0);
//     }
// }

// @keyframes fade-right {
//     from {
//         transform: translateX(100px);
//     }

//     to {
//         transform: translateX(0);
//     }
// }
