.full-page {
    overflow: hidden;
}

.full-page.active .animation-left,
.full-page.active .animation-right,
.full-page.active .animation-down {
    opacity: 1;
    animation-name: fade-left;
    animation-duration: 1.5s;
    animation-delay: 700;
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.full-page .animation-left,
.full-page .animation-right,
.full-page .animation-down {
    opacity: 0;
    transition: opacity 3s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.full-page.active .animation-right {
    animation-name: fade-right;
}

@keyframes fade-left {
    from {
        transform: translateX(-100px);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes fade-right {
    from {
        transform: translateX(100px);
    }

    to {
        transform: translateX(0);
    }
}